In [1]:
from pycocotools.coco import COCO
import os
import cv2
import matplotlib.pyplot as plt
import numpy as np
import pycocotools.mask as mask_util
from random import randint
from collections import defaultdict

In [2]:
CUSTOM_CLASSES = ['person', 'bicycle', 'cat', 'dog', 'backpack', 'umbrella', 'handbag', 'suitcase', 
                'sports ball', 'baseball bat', 'skateboard', 'tennis racket', 'bottle', 'wine glass', 
                'sandwich', 'chair', 'laptop', 'cell phone', 'book', 'clock', 'scissors', 'teddy bear',
                'torso', 'hand', 'foot', 'upleg', 'lowleg', 'uparm', 'lowarm', 'head']

In [3]:
coco_folder = '/mnt/DATASSD/DataSandbox/coco'
# dp_coco = COCO( coco_folder + '/annotations/custom_ann_train2014_v14.json')
# dp_coco = COCO( coco_folder + '/annotations/custom_ann_train2014_v15.json')

In [6]:
import json
import ast
filename = coco_folder + '/annotations/custom_ann_valid2014_v15.json'
# filename = coco_folder + '/annotations/instances_val2014.json'
with open(filename) as json_file:
    data_str = json.load(json_file)
data = ast.literal_eval(data_str)

In [7]:
print(data.keys())
print(data['images'][0])
print(data['annotations'][0])
print(data['categories'][0])

dict_keys(['images', 'annotations', 'categories'])
{'license': 1, 'file_name': 'COCO_val2014_000000109229.jpg', 'coco_url': 'http://mscoco.org/images/109229', 'height': 640, 'width': 514, 'date_captured': '2013-11-18 17:27:34', 'flickr_url': 'http://farm3.staticflickr.com/2342/1794334693_c3e27b61dd_z.jpg', 'id': 109229}
{'segmentation': [[217.17, 355, 218.61, 349.24, 212.85, 324.79, 214.29, 313.29, 225.8, 296.03, 244.49, 296.03, 256, 304.66, 257.44, 339.18, 257.44, 350.68, 325.03, 382.32, 352.36, 406.77, 345.17, 418.28, 343.73, 422.59, 332.22, 422.59, 312.09, 409.65, 279.01, 396.7, 273.26, 389.51, 264.63, 445.6, 258.88, 534.77, 251.69, 563.54, 240.18, 580.79, 244.49, 587.98, 224.36, 587.98, 208.54, 587.98, 207.1, 587.98, 202.79, 582.23, 201.35, 562.1, 201.35, 541.96, 201.35, 501.69, 202.79, 390.95, 201.35, 382.32, 178.34, 393.83, 171.15, 393.83, 161.08, 390.95, 145.26, 383.76, 135.19, 375.13, 116.49, 369.38, 109.3, 369.38, 117.93, 362.19, 136.63, 359.31, 142.38, 356.43, 143.82, 356.43, 169.71, 370.82, 199.91, 359.31]], 'area': 20752.355, 'image_id': 109229, 'id': 1, 'category_id': 1, 'bbox': [109, 296, 243, 291], 'iscrowd': 0}
{'supercategory': 'person', 'id': 1, 'name': 'person'}

In [12]:
import pandas as pd
import copy
data_2 = copy.deepcopy(data)

data_df = pd.json_normalize(data)
data_df.head(3)

,images,annotations,categories
0,"[{'license': 1, 'file_name': 'COCO_val2014_000...","[{'segmentation': [[217.17, 355, 218.61, 349.2...","[{'supercategory': 'person', 'id': 1, 'name': ..."

In [16]:
data[0]

KeyError: 0

In [18]:
len(data_df.iloc[0]['images'])

34882

In [11]:
a1 = [{**x, **x.pop('key')} for x in data_2]
a1[0]

NameError: name 'data_2' is not defined

In [10]:
data_df.head(10)

,images,annotations,categories
0,"[{'license': 1, 'file_name': 'COCO_val2014_000...","[{'segmentation': [[217.17, 355, 218.61, 349.2...","[{'supercategory': 'person', 'id': 1, 'name': ..."

In [ ]:
catIds = dp_coco.getCatIds()
print(catIds)

In [ ]:
annIds = dp_coco.getAnnIds()

In [ ]:
for catId in range(80): #catIds:
    n_im_ids = dp_coco.getImgIds(catIds=catId)
    print(catId,  len(n_im_ids)) # CUSTOM_CLASSES[catId]

In [ ]:
n_im_ids = dp_coco.getImgIds(catIds=catId)
print(len(n_im_ids))
# Select a random image id.
Selected_im = person_im_ids[randint(0, len(person_im_ids))]
im = dp_coco.loadImgs(Selected_im)[0]  
ann_ids = dp_coco.getAnnIds( imgIds=im['id'] )
anns = dp_coco.loadAnns(ann_ids)
im_name = os.path.join( coco_folder + '/val2014', im['file_name'] )

In [ ]:
print( Selected_im, im, ann_ids, im_name)
I=cv2.imread(im_name)
if I is not None:
    plt.imshow(I[:,:,::-1]); plt.axis('off'); plt.show()
else:
    print("No image to load")

In [ ]:
bike_im_ids = dp_coco.getImgIds(catIds=5)
print(len(bike_im_ids))
# Select a random image id.
Selected_im = bike_im_ids[randint(0, len(bike_im_ids))]
im = dp_coco.loadImgs(Selected_im)[0]  
ann_ids = dp_coco.getAnnIds( imgIds=im['id'] )
anns = dp_coco.loadAnns(ann_ids)
im_name = os.path.join( coco_folder + '/val2014', im['file_name'] )

In [ ]:
print( Selected_im, im, ann_ids, im_name)
I=cv2.imread(im_name)
if I is not None:
    plt.imshow(I[:,:,::-1]); plt.axis('off'); plt.show()
else:
    print("No image to load")